<footer>
    <a href="https://www.linkedin.com/in/alanis-quintana/" target="_blank">
      <button mat-icon-button>
        <i class="fab fa-linkedin"></i>
      </button>
    </a>
    <a href="https://github.com/alanisquintana/desafio-oak" target="_blank">
      <button mat-icon-button>
        <i class="fab fa-github"></i>
      </button>
    </a>
    <a href="mailto:alanisquintana.dev@gmail.com">
      <button mat-icon-button>
        <i class="fas fa-envelope"></i>
      </button>
    </a>
  </footer>
  