<button mat-fab (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>

<div class="catalog-container">
  <label for="sortPrice">Ordenar por Preço</label>
  <select id="sortPrice" class="order" (change)="onSortChange($event)">
    <option value="asc">Menor para Maior</option>
    <option value="desc">Maior para Menor</option>
  </select>
  
  
  <app-cards [products]="concatenatedProducts" class="catalog-cards"></app-cards>

  <mat-paginator [length]="totalLength" [pageSize]="pageSize" (page)="onPageChange($event)" class="paginator">
  </mat-paginator>
</div>
