.catalog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
}

.catalog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}

button[mat-fab] {
    z-index: 1000;
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: block;
}

.paginator {
    align-self: center;
    margin-top: 2rem;
    background-color: transparent;
}
