<div class="cards-container">
  <mat-card *ngFor="let product of products" class="card">
    <mat-card-content>
      <img [src]="product.image" alt="{{ product.title }}">
      <div class="rating">
        <ng-container *ngFor="let star of stars; index as j">
          <mat-icon>{{ j < product.rating ? 'star' : 'star_border' }}</mat-icon>
        </ng-container>
      </div>
      <p class="title">{{ product.title }}</p>
      <p>{{ formatPrice(product.price) }}</p>
      <p class="description">{{ product.description }}</p>
      <div class="availability">
        <span [ngClass]="{'available': product.isAvailable, 'out-of-stock': !product.isAvailable}">
          {{ product.isAvailable ? 'DISPONÍVEL' : 'ESGOTADO' }}
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
