html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-accent.mat-mdc-fab, .mat-accent.mat-mdc-mini-fab {
    --mdc-fab-container-color: #47B368;
}

.mat-mdc-fab .mat-icon {
    color: #050505;
}